.nametextcolor {
    color: #fff;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #0b08e9, 0 0 40px #0b08e9, 0 0 50px #0b08e9, 0 0 60px #0b08e9, 0 0 70px #0b08e9;
    }
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
  }

  .passionate-color {
    text-shadow: 0 0 0 10px rgb(14, 233, 233);
  }

  .herosection-container h1, .herosection-container h2 {
    font-family: 'Open Sans';
    /* text-shadow: 0 0 10px #fff; */
  }
  
  .herosection-container img {
    -moz-box-shadow: 0 0 5px #fff;
    -webkit-box-shadow: 0 0 5px #fff;
    box-shadow: 0px 0px 10px #fff
  }

  .portfolioimg1 img {
    -moz-box-shadow: 0 0 5px #109ed6;
    -webkit-box-shadow: 0 0 5px #109ed6;;
    box-shadow: 0px 0px 10px #109ed6;
  }

  .portfolioimg2 img {
    -moz-box-shadow: 0 0 5px #e937cb;
    -webkit-box-shadow: 0 0 5px #e937cb;;
    box-shadow: 0px 0px 10px #e937cb;
  }

  .portfolioimg3 img {
    -moz-box-shadow: 0 0 5px #e9b137;
    -webkit-box-shadow: 0 0 5px #f29b66;;
    box-shadow: 0px 0px 10px #f29b66;
  }

  .airboximg2 img {
    -moz-box-shadow: 0 0 5px #8908f3;
    -webkit-box-shadow: 0 0 5px #8908f3;;
    box-shadow: 0px 0px 10px #8908f3;
  }

  .airboximg3 img {
    -moz-box-shadow: 0 0 5px #ffffff;
    -webkit-box-shadow: 0 0 5px #ffffff;;
    box-shadow: 0px 0px 10px #ffffff;
  }

  .airboximg4 img {
    -moz-box-shadow: 0 0 5px #ffffff;
    -webkit-box-shadow: 0 0 5px #ffffff;;
    box-shadow: 0px 0px 10px #ffffff;
  }

  .airboximg5 img {
    -moz-box-shadow: 0 0 5px #ffffff;
    -webkit-box-shadow: 0 0 5px #ffffff;;
    box-shadow: 0px 0px 10px #ffffff;
  }

  .aboutme-container li {
    font-family: 'Open Sans';
    text-shadow: 0 0 10px #fff;
  }

.portfolio-container h2, .portfolio2-container h2, .aboutme-container h2 {
    font-family: 'Open Sans';
    text-shadow: 0 0 10px #fff;
}

@media (min-width: 768px) {
  .welcometext {
    margin-bottom: 30vh;
  }
  .herosection-container {
    margin-bottom: 50vh;
  }
  .portfolio2-container {
    margin-bottom: 50vh;
  }
}