.nametextcolor {
    color: #fff;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #0b08e9, 0 0 40px #0b08e9, 0 0 50px #0b08e9, 0 0 60px #0b08e9, 0 0 70px #0b08e9;
    }
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
  }

  .passionate-color {
    text-shadow: 0 0 0 10px rgb(14, 233, 233);
  }

  .herosection-container h1, h2 {
    font-family: 'Open Sans';
    text-shadow: 0 0 10px #fff;
  }
  
  .herosection-container img {
    -moz-box-shadow: 0 0 5px #fff;
    -webkit-box-shadow: 0 0 5px #fff;
    box-shadow: 0px 0px 10px #fff
  }

